/* THEME OPTIONS ************************** */

/* ----- Front Page Title ------------ */
.front .title {display: none;}
.front.show-title .title {display: block;}

/* ----- Breadcrumb ------------------ */
.breadcrumb {display: none;}
.show-breadcrumb .breadcrumb {display: block;}

/* ----- Body Background Type -------- */
body .photobg {background-attachment: fixed; background-size: cover;}

/* ----- Background Color ------------ */
.bodybg .sidebar .region {background-color: rgba(255,255,255,0.9); padding: 10px;}
.bodybg .content-wrapper {background: #fff; padding: 10px;}

/* ----- Borders -------------------- */
.borders .sidebar .region,
.borders .content-wrapper {border: 1px solid #d4d4d4; padding: 10px;}

/* ------ Rounded Corners ----------- */
.roundedcorners .sidebar .region,
.roundedcorners .content-wrapper {-moz-border-radius: 5px; border-radius: 5px; padding: 10px;}

/* GLOBAL ********************************* */

/* ----- Body ------------------------ */
body {-webkit-text-size-adjust: 100%;}

/* ----- Custom Fonts ---------------- */

/* ----- Text ------------------------ */
h1, h2, h3, h4, h5, h6 {}
h2, h3, h4, h5, h6 {line-height:1.3em;}
p {margin: 0 0 1em 0;}
em {padding: 0 3px 0 0;}

quote, code {margin: .5em 0;}
.summary {font-size:22px;line-height:1.4em;font-weight:300; margin-bottom:15px;}
.descriptor {font-size:12px; text-transform:uppercase; letter-spacing:0.04em; line-height:1.5em; margin-bottom:4px;}
.caption {color: #848484; font-size: 13px; font-style: italic; letter-spacing: 0.01em; margin-bottom: 2em; margin-top: 0em;}

/* ----- Links ----------------------- */
a, a:hover {text-decoration: none;}
a:focus {/* outline:none; border:0; */}
.more-link, a.more-link {text-align:left; clear:both; display: inline-block; margin-top: 0.5em;}
.more-link a, a.more-link, .page-search .node-readmore a {color: #006395; font-size: 12px; font-weight: 500; letter-spacing: 0.02em; text-transform: uppercase; background-image: url("../images/ofw-more-link-arrows.png"); background-position: right 55%; background-repeat: no-repeat; padding-right: 10px; display:inline; border-bottom:none;}
.more-link a:hover, a.more-link:hover, .page-search .node-readmore a:hover {text-decoration:none; color:#000000; background-image: url("../images/ofw-more-link-arrows-black.png"); border-bottom:none;}
h2 a, h3 a {}
h2 a:hover, h3 a:hover {text-decoration:none;}

/* ----- Lists ----------------------- */
ul.inline, ul.links.inline, ul.links.inline li {padding-left:0; margin-left:0;}

/* ----- Tables ---------------------- */
tr.even, tr.odd {background-color:transparent; border-bottom: 1px solid #ddd;}
th, td {padding: 0.5em; border: 1px solid #ddd;}
th, td.active {background-color:#F5F5F5;}
th {vertical-align: bottom;}
td {vertical-align: top;}

/* ----- Forms ----------------------- */
.form-item label {display:block; font-weight:bold;}
.views-exposed-form .views-exposed-widget .form-submit {margin-top:27px;} /* override for views exposed forms submit */
.form-type-checkbox label {display:inline-block; margin-left:8px;}
input[type="checkbox"] {margin:0;}
input.form-submit {height:2.5em; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border:1px solid #d5d5d5;

background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
background-image:     -ms-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
background-image:    -moz-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
background-image:      -o-linear-gradient(top, #FFFFFF 0%, #E6E6E6 100%);
background-image:         webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E6E6E6));
background-image:         linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
}
input.form-submit:hover {
background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #E6E6E6 100%);
background-image:     -ms-linear-gradient(top, #F5F5F5 0%, #E6E6E6 100%);
background-image:    -moz-linear-gradient(top, #F5F5F5 0%, #E6E6E6 100%);
background-image:      -o-linear-gradient(top, #F5F5F5 0%, #E6E6E6 100%);
background-image:        -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F5F5), color-stop(1, #E6E6E6));
background-image:         linear-gradient(to bottom, #F5F5F5 0%, #E6E6E6 100%);
}

/* ----- Other ----------------------- */
hr {clear:both;}

/* HEADER ********************************* */

/* ----- Header Region --------------- */
.header {margin: 25px 0 30px 0px;}
.header-content {clear: both;}

/* ----- Search Box ------------------ */
.nav-search {margin: -65px -20px 0 0; float: right; padding: 0; min-height: 1px;}
.nav-search .search-form,
#header-search .search-form  {margin:0; padding:0;}
nav-search .form-item,
#header-search .form-item {margin:0;}

#block-search-form {position: relative; margin: 0; padding: 0; display: inline-block;}
#block-search-form input.btn-search {background: none repeat scroll 0 0 transparent; border: medium none; height: 26px; position: absolute; right: 10px; top: 1px; width: 26px;}
#block-search-form input.btn-search:hover {opacity:0.6;}

/* ----- Logo ------------------------ */ /*?*/
.header .site-logo {display:table-cell; margin: 0 15px 0 0; vertical-align:middle;}
.header .site-logo img {max-height: 100px;}

/* ----- Site Title and Slogan ------- */
.site-name, #site-slogan {font-family: inherit; line-height: 1; color: inherit; text-rendering: optimizelegibility;}
.site-name {font-size: 44px; font-weight:bold;}
#site-slogan {font-size: 24px; line-height: 1.1em; margin-top: 0.3em;}
.site-name a,
.site-name a:hover {text-decoration: none; color:#333;}
.site-name a:hover {color:#000;}
#name-and-slogan {display: table-cell; vertical-align: middle; padding: 20px 0 20px 10px;}

/* NAVIGATION ***************************** */

/* ----- Main Navigation ------------- */
.site-main-menu {clear: both;}
.site-main-menu ul li, 
.site-main-menu ul li.leaf, 
.site-main-menu ul li.expanded, 
.site-main-menu ul li.collapsed {list-style: none; list-style-image: none;}
.site-main-menu ul.menu {margin: 0;}
.site-main-menu ul.menu li {margin: 0; padding: 0;}

nav h2 {position: absolute; left: -10000px;}

/* ----- Secondary Navigation -------- */
.secondary-menu {display: block; background: #eee; padding: 10px; font-size: 12px;}
.secondary-menu ul li, 
.secondary-menu ul li.leaf, 
.secondary-menu ul li.expanded, 
.secondary-menu ul li.collapsed {list-style: none; list-style-image: none;}
.secondary-menu ul {margin: 0;}
.secondary-menu ul li li {margin: 0; padding: 0;}
.secondary-menu > ul > li {display: inline-block;}
.secondary-menu > ul > li > a {background: none;}

/* ----- Breadcrumbs ----------------- */

/* ----- First Sidebar Menu Blocks --- */

/* ----- Second Sidebar Menu Blocks -- */

/* ----- Admin Menu ------------------ */
#admin-menu li {line-height: normal;}

/* ----- Pager Nav ------------------- */

/* Navigation -- this is used as an alternative to main menu without the default Bootstrap menu styles */
#navigation h2 {position: absolute; left: -10000px;}
#navigation .content ul {float: right; margin: 0; padding: 0;}
#navigation .content ul li {display: inline-block;}
#navigation .content ul ul {display: none;}

/* SIDEBARS ******************************* */
.sidebar-first,
.sidebar-second {margin-bottom: 1.2em;}
.sidebar ul.nav {margin-left: 1.2em;}

/* FOOTER ********************************* */
.site-footer {margin-top: 50px;}
.site-footer h2 {font-size:20px; line-height:1.5em;}

/* ----- Fat Footer ------------------ */

/* CONTENT ******************************** */
.main,
.content-head,
.mc-content  {margin-bottom: 1.2em;}
.node .submitted {margin-bottom:1em;}


/* VIEWS ********************************** */
.views-row {clear:both; margin-bottom:1em;}
.views-row.views-row-last,
.views-row h2,
.field-collection-view {border-bottom:0px;}

/* ----- Search Results -------------- */


/* CONTAINERS ***************************** */

/* ----- Blocks ---------------------- */
.main .block {margin-bottom:30px;}
.main #block-system-main {margin-bottom:0;}
.sub-block {}

/* ----- Well ------------------------ */
.well {}
.footer-well {}

/* ----- Callouts and Blockquotes ---- */
.callout, .bracket, .topline {width:30%; margin-top:15px; padding: 15px 0; border-left: 0 none; clear: both;}
.topline, .bracket {border-top: 1px solid #eee;}
.bracket {border-bottom: 1px solid #eee;}
.callout {border:1px solid #eee; padding:15px; width:27.25%;}

/* ----- Pullquote Text -------------- */
.pullquote, .pullquote-large, blockquote > p:first-child {text-indent: -7px; line-height: 1.5em; padding-left:10px;}
.pullquote {font-size: 14px; letter-spacing: 0.02em;}
.pullquote-large {font-size:20px;}
.credits {font-size: 12px; letter-spacing: 0.05em;}


/* POSTCARD LAYOUTS ********************** */
.postcard-left, .postcard-left-wrap, .postcard-right, .postcard-right-wrap {clear:both; margin-bottom:15px;}
.postcard-left > div, .postcard-right > div {display:table-cell;}
.postcard-left-wrap > div:first-child, .postcard-left > div:first-child {float:left;}
.postcard-right-wrap > div:first-child, .postcard-right > div:first-child {float:right;}
.postcard-left > div:first-child img, .postcard-left-wrap > div:first-child img,
.postcard-right > div:first-child img, .postcard-right-wrap > div:first-child img {margin-left:15px; margin-bottom:15px;}
.postcard-left h2, .postcard-left-wrap h2, .postcard-right h2, .postcard-right-wrap h2 {margin-top:0px;}

/* IMAGES ******************************** */
img, a img {border: none; outline: none;}
.main .border-hairline img {border:1px solid #d8d8d8;}
.main .border-shadow img {-webkit-box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.08); box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.08);}
.main .border-underline img {background-color:transparent; border-bottom:4px solid #e2e2e2; padding:0 0 2px 0;  margin-bottom:5px;}
.main .border-none img {border:0px;}
.main .border-bottom img {border-bottom:1px solid #d3d3d3;}
.main .border-simple-nowidth img, 
.main .border-simple img {background-color: #e2e2e2; padding:6px; margin-bottom:10px;}
.main .border-simple img {width: 97%; 
width: -moz-calc(100% - 12px);
width: -webkit-calc(100% - 12px);
width: -o-calc(100% - 12px);
width: calc(100% - 12px);}
.main .border-simple a:hover img {background-color: #bbb;}
.main .border-hairline a:hover img {border:1px solid #373737;}

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */

/* ----- Positioning ----------------- */
.spacer {margin-top: 30px;}
#main .float-left,
#main .float-right {float:left; margin-right:15px; margin-bottom:15px;}
#main .float-right {float:right}
#main .float-none {float:none;}
#main .clear-none {clear:none;}
#main .clear-left-margin {margin-left: 0; padding-right:20px;}
#main .clear-right {clear: right;}
#main .clear-left {clear: left;}
#main .clear-both {clear: both;}
#main .clear-block {} /* Already defined by drupal */

/* ----- Sizing ---------------------- */
.span-full {width:100%;}


/* GENERAL OVERRIDES ********************* */

/* ----- Bootstrap Overrides --------- */
html.js input.form-autocomplete {background-position: 100% 8px;}
html.js input.throbbing {background-position: 100% -12px;}

@media (min-width: 980px) {
.sidebar-second .sidebar-content[class*="span"],
.sidebar-second .sidebar-content {float: none; width: 100%;}
}

@media (min-width: 768px) {
.sidebar-first .sidebar-content[class*="span"],
.sidebar-first .sidebar-content {float: none; width: 100%;}
}

@media (min-width: 768px) and (max-width: 979px) {
.sidebar-second .sidebar-content[class*="span"] {width: 31.4917%;}
}

.row-fluid [class*="span"] {min-height: 0;}
.row-fluid .float-right {float: right;}
[class*="span"].clear-row {clear: both;}
.row-fluid .float-right,
[class*="span"].next-row,
[class*="span"].clear-row {margin-left: 0px;}
.form-actions {background-color: transparent; border-top: none; margin-bottom: 0; margin-top: 0; padding: 0;}
.navbar-inner {min-height: 0px;}
.dropdown-menu .active > a, .dropdown-menu .active > a:hover {color: #FFF;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {margin-bottom:0;}

/* ----- Block Alert Overrides -- */
.block.alert {padding-left: 0px; padding-right: 0px; margin-right: -2px;}
.block.alert > * {padding-left: 10px; padding-right: 10px;}

/* ----- Field Collection Overrides -- */
.field-collection-container {margin-bottom:0; border-bottom:0;}
.field-collection-view {margin:0; padding:0;}
.field-collection-container .field-items .field-item {margin:0;}

/* ----- Field Label Overrides ------- */
.page-node .content-body .field {margin-bottom:20px;}
.page-node .content-body .field-type-field-collection {margin-bottom:0px;}

/* ----- Admin Menu Overrides -- */
#admin-menu {margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;}

/* FEATURES OVERRIDES *********** */

/* ----- Views Slideshow ------------- */
.views_slideshow_cycle_main {width: 100%; float: left; position: relative;}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {width: 100% !important; height: auto;}/*?*/
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {width: 100% !important; height: auto;}
.views_slideshow_cycle_main .field-content {max-width: 100%; width: 100%;}
.views_slideshow_cycle_main .field-content img {max-width: 100%; width: 100%; height: auto; margin: 0; padding: 0;}

/* ADMINISTRATION ************************ */

/* ----- Admin ----------------------- */
ul.primary {margin: 1.5em 0 0.2em 0;}
div.vertical-tabs .summary {font-size: 12px;}

/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */

/* ----- Responsive ------------------ */
@media (min-width: 768px) {
.navbar-inner {padding: 0 20px;}
}

/* Landscape phones and down */
@media (max-width: 480px) {
.content-col2 [class*="span"] {width: 100%; margin-left: 0;}
.header #logo {display:block; text-align:center; margin:0px;}
.site-name, .site-slogan {text-align:center;}
}

/* Landscape phones to Tablet */
@media (min-width: 481px) and (max-width: 767px) { /*?*/
.main-top .block[class*="span"],
.main-upper .block[class*="span"],
.main-lower .block[class*="span"],
.main-bottom .block[class*="span"],
.content-top .block[class*="span"],
.content-upper .block[class*="span"],
.content-lower .block[class*="span"],
.content-bottom .block[class*="span"],
.content-row2 .span6,
.content-col2.row-fluid .span6,
.content-row3 .span4,
.content-col3.row-fluid .span4,
.content-row4 .span3,
.content-col4.row-fluid .span3,
.sidebar-first .row-fluid .block,
.sidebar-second .row-fluid .block {display: block; float: left; width: 49%; margin-right: 0;}

.main-top .block[class*="span"]:nth-child(odd),
.main-top .block[class*="span"].clear-row,
.main-upper .block[class*="span"]:nth-child(odd),
.main-upper .block[class*="span"].clear-row,
.main-lower .block[class*="span"]:nth-child(odd),
.main-lower .block[class*="span"].clear-row,
.main-bottom .block[class*="span"]:nth-child(odd),
.main-bottom .block[class*="span"].clear-row,
.content-top .block[class*="span"]:nth-child(odd),
.content-top .block[class*="span"].clear-row,
.content-upper .block[class*="span"]:nth-child(odd),
.content-upper .block[class*="span"].clear-row,
.content-lower .block[class*="span"]:nth-child(odd),
.content-bottom .block[class*="span"]:nth-child(odd),
.content-bottom .block[class*="span"].clear-row
.content-lower .block[class*="span"].clear-row {margin-right: 2%;}

.main-top .block[class*="span"]:last-child,
.main-upper .block[class*="span"]:last-child,
.main-bottom .block[class*="span"]:last-child,
.main-lower .block[class*="span"]:last-child,
.content-top .block[class*="span"]:last-child,
.content-upper .block[class*="span"]:last-child,
.content-lower .block[class*="span"]:last-child,
.content-bottom .block[class*="span"]:last-child,
.content-row2 [class*="span"]:nth-child(2n),
.content-row3 [class*="span"]:nth-child(3n),
.content-col2.row-fluid [class*="span"]:nth-child(2n),
.content-col3.row-fluid [class*="span"]:nth-child(3n),
.content-row4 [class*="span"]:nth-child(2n),
.content-col4.row-fluid [class*="span"]:nth-child(2n),
.sidebar-first .row-fluid .block:nth-child(2n),
.sidebar-second .row-fluid .block:nth-child(2n) {margin-right: 0;}

.main-top .block.span12.clear-row,
.main-upper .block.span12.clear-row,
.main-lower .block.span12.clear-row,
.main-bottom .block.span12.clear-row,
.content-top .block.span12.clear-row,
.content-upper .block.span12.clear-row,
.content-lower .block.span12.clear-row,
.content-bottom .block.span12.clear-row {width: 100%; margin-right: 0;}

.content-row2 [class*="span"]:nth-child(2n+1),
.content-col2.row-fluid [class*="span"]:nth-child(2n+1),
.content-row3 [class*="span"]:nth-child(3n+1),
.content-col3.row-fluid [class*="span"]:nth-child(3n+1),
.content-row4 [class*="span"]:nth-child(2n+1),
.content-col4.row-fluid [class*="span"]:nth-child(2n+1),
.sidebar-first .row-fluid .block:nth-child(2n+1),
.sidebar-second .row-fluid .block:nth-child(2n+1) {clear: both; margin-left: 0;}

/* Fix for .well on blocks in first sidebar */
.sidebar-first .block.well {width: 37%;
width: -moz-calc(50% - 60px);
width: -webkit-calc(50% - 60px);
width: -o-calc(50% - 60px);
width: calc(50% - 60px);}
}
     
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.nav-search {margin: 0; float: right; padding: 3px 0px;}
#header-search {position: absolute; right: 30px; margin: -15px 0 0 0; width: auto;}
.btn.btn-navbar {float: left; margin-bottom: 8px;}
.navbar-inner {padding: 5px 5px 0px 5px;}
.content-col2 [class*="span"] {width: 100%; margin-left: 0;}
.callout, .bracket, .topline {width: 50%}
.row-fluid .float-right {float: none !important;}
.row-fluid .node .content .float-right {float:right !important; max-width:50%;}

.footer-content .block {float: left; margin-right: 4%; width: 48%;}
.footer-content .block:nth-child(2n+1) {clear: both;}
.footer-content .block:nth-child(2n) {margin-right: 0px;}
}
     
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.btn.btn-navbar {float: left; margin-bottom: 8px;}
.navbar-inner {padding: 0px 5px;}
.nav-search {margin-right: 0px;}
.content .callout, .content .bracket, .content .topline {width: 40%}
}

/* desktop and large desktop */
@media (min-width: 980px) and (max-width: 1199px) {
.two-sidebars .content .callout, .two-sidebars  .content .bracket, .two-sidebars  .content .topline {width: 40%}
}
     
/* Large desktop */
@media (min-width: 1200px) {}

@media (min-width: 768px) and (max-width: 1200px) {
.content-row2 [class*="span"]:nth-child(2n+1),
.content-row3 [class*="span"]:nth-child(3n+1),
.content-row4 [class*="span"]:nth-child(4n+1) {clear: both; margin-left: 0;}
}

/* ----- Print ----------------------- */