/* THEME OPTIONS ************************** */

/* ----- Front Page Title ------------ */
body.front .title {display: none;}
body.front.show-title .title {display: block;}

/* ----- Breadcrumb ------------------ */
#breadcrumb {display: none;}
body.show-breadcrumb #breadcrumb {display: block;}

/* ----- Body Background Type -------- */
body.photobg {background-attachment: fixed !important; background-size: cover !important;}

/* ----- Background Color ------------ */
body.bodybg .sidebar .region {background-color: rgba(255,255,255,0.9); padding: 10px;}
body.bodybg #secondary-menu .container {background-color: rgba(255,255,255,0.9); padding: 0 10px 10px 10px;}
body.bodybg #content-wrapper {background: #fff; padding: 10px;}

/* ----- Borders -------------------- */
body.borders .sidebar .region {border: 1px solid #d4d4d4; padding: 10px;}
body.borders #secondary-menu .container {border: 1px solid #d4d4d4; padding: 10px;}
body.borders #content-wrapper {border: 1px solid #d4d4d4; padding: 10px;}

/* ------ Rounded Corners ----------- */
body.roundedcorners .sidebar .region {-moz-border-radius: 5px; border-radius: 5px; padding: 10px;}
body.roundedcorners #secondary-menu .container {-moz-border-radius: 5px; border-radius: 5px; padding: 10px;}
body.roundedcorners #content-wrapper {-moz-border-radius: 5px; border-radius: 5px; padding: 10px;}


/* GLOBAL ********************************* */

/* ----- Body ------------------------ */
body {-webkit-text-size-adjust: 100%;}

/* ----- Custom Fonts ---------------- */

/* ----- Text ------------------------ */
h2, h3, h4, h5, h6 {line-height:1.3em;}
p {margin: 0 0 1em 0;}
em {padding: 0 3px 0 0;}
quote, code {margin: .5em 0;}
.summary {font-size:22px;line-height:1.4em;font-weight:300; margin-bottom:15px;}
.descriptor {font-size:12px; text-transform:uppercase; letter-spacing:0.04em; line-height:1.5em; margin-bottom:4px;}
.caption {color: #848484; font-size: 13px; font-style: italic; letter-spacing: 0.01em; margin-bottom: 2em; margin-top: 0em;}

/* ----- Links ----------------------- */
a:focus {outline:none; border:0;}
a {text-decoration: none;}
a:hover {text-decoration: none;}
p a {border-bottom:dotted 1px #0088CC;}
p a:hover {border-bottom:dotted 1px #005580;}
.more-link, a.more-link {text-align:left; clear:both; display: inline-block; margin-top: 0.5em;}
.more-link a, a.more-link, .page-search .node-readmore a {color: #006395; font-size: 12px; font-weight: 500; letter-spacing: 0.02em; text-transform: uppercase; background-image: url("../images/ofw-more-link-arrows.png"); background-position: right 55%; background-repeat: no-repeat; padding-right: 10px; display:inline; border-bottom:none;}
.more-link a:hover, a.more-link:hover, .page-search .node-readmore a:hover {text-decoration:none; color:#000000; background-image: url("../images/ofw-more-link-arrows2.png"); border-bottom:none;}
h2 a, h3 a {}
h2 a:hover, h3 a:hover {text-decoration:none;}

/* ----- Lists ----------------------- */

/* ----- Tables ---------------------- */
tr.even, tr.odd {background-color:transparent; border-bottom: 1px solid #DDDDDD;}
th, td {padding: 0.5em; border: 1px solid #DDDDDD;}
th, td.active {background-color:#F5F5F5;}
th {vertical-align: bottom;}
td {vertical-align: top;}

/* ----- Forms ----------------------- */
.form-item label {display:block; font-weight:bold;}

/* ----- Other ----------------------- */


/* HEADER ********************************* */

/* ----- Header Region --------------- */
#header {margin: 25px 0 30px 0px;}
#header-content {clear: both;}

/* ----- Search Box ------------------ */
#nav-search {margin: -60px -20px 0 0; float: right; padding: 0px;}
#nav-search .search-form {margin:0; padding:0;}
#nav-search .form-item {margin:0;}
#header-search {}
#header-search .search-form {margin:0; padding:0;}
#header-search .form-item {margin:0;}

/* ----- Logo ------------------------ */
#header #logo {display:table-cell; margin: 0 15px 0 0; vertical-align:middle;}
#header #logo img {max-height: 100px;}

/* ----- Site Title and Slogan ------- */
#site-name, #site-slogan {font-family: inherit; line-height: 1; color: inherit; text-rendering: optimizelegibility;}
#site-name {font-size: 44px; font-weight:bold;}
#site-slogan {font-size: 24px; line-height: 1.1em; margin-top: 0.3em;}
#site-name a {text-decoration: none; color:#333333;}
#site-name a:hover {text-decoration: none; color:#000000;}
#name-and-slogan {display: table-cell; vertical-align: middle; padding: 20px 0 20px 10px;}


/* NAVIGATION ***************************** */

/* ----- Main Navigation ------------- */
#main-menu {clear: both;}
#main-menu ul.nav li.dropdown:hover ul.dropdown-menu {display: block;}
#main-menu ul {margin-top: -1px;}
#main-menu ul li.leaf {list-style-image: none; height: 35px;}
#main-menu ul li.expanded {list-style-image: none;}
#main-menu ul li.collapsed {list-style-image: none;}

/* ----- Secondary Navigation -------- */
#secondary-menu ul {margin: 0; float: right;}

/* ----- Breadcrumbs ----------------- */

/* ----- First Sidebar Menu Blocks --- */

/* ----- Second Sidebar Menu Blocks -- */

/* ----- Admin Menu ------------------ */

/* Navigation -- this is used as an alternative to main menu without the default Bootstrap menu styles */
#navigation h2 {display: none;}
#navigation .content ul {float: right; margin: 0; padding: 0;}
#navigation .content ul li {display: inline-block;}
#navigation .content ul ul {display: none;}


/* SIDEBARS ******************************* */
#sidebar-first {margin-bottom: 20px;}
#sidebar-second {margin-bottom: 20px;}
.sidebar ul.nav {margin-left: 20px;}

/* FOOTER ********************************* */
#footer {margin-top: 50px;}
#footer h2 {font-size:20px; line-height:1.5em;}

/* ----- Fat Footer ------------------ */

/* CONTENT ******************************** */
#main {margin-bottom: 20px;}
#content-head {margin-bottom:15px;}
#content {margin-bottom: 20px;}

/* VIEWS ********************************** */
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */

/* ----- Blocks ---------------------- */
#main .block {margin-bottom:30px;}
#main #block-system-main {margin-bottom:0;}
.sub-block {}

/* ----- Well ------------------------ */
.well {}
.footer-well {}

/* ----- Callouts and Blockquotes ---- */
.callout, .bracket, .topline {width:30%; margin-top:15px; padding: 15px 0; border-left: 0 none; clear: both;}
.topline, .bracket {border-top: 1px solid #EEEEEE;}
.bracket {border-bottom: 1px solid #EEEEEE;}
.callout {border:1px solid #eeeeee; padding:15px; width:27.25%;}

/* ----- Pullquote Text -------------- */
.pullquote, .pullquote-large, blockquote > p:first-child {text-indent: -7px; line-height: 1.5em; padding-left:10px;}
.pullquote {font-size: 14px; letter-spacing: 0.02em;}
.pullquote-large {font-size:20px;}
.credits {font-size: 12px; letter-spacing: 0.05em;}


/* POSTCARD LAYOUTS ********************** */
.postcard-left, .postcard-left-wrap, .postcard-right, .postcard-right-wrap {clear:both; margin-bottom:15px;}
.postcard-left > div, .postcard-right > div {display:table-cell;}
.postcard-left-wrap > div:first-child, .postcard-left > div:first-child {float:left;}
.postcard-right-wrap > div:first-child, .postcard-right > div:first-child {float:right;}
.postcard-left > div:first-child img, .postcard-left-wrap > div:first-child img {margin-right:15px; margin-bottom: 15px;}
.postcard-right > div:first-child img, .postcard-right-wrap > div:first-child img {margin-left:15px; margin-bottom:15px;}

/* IMAGES ******************************** */
img, a img {border: none; outline: none;}
#main-content .border-hairline img {border:1px solid #d8d8d8;}
#main-content .border-shadow img {-webkit-box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.08); box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.08);}
#main-content .border-underline img {background-color:transparent; border-bottom:4px solid #e2e2e2; padding:0 0 2px 0;}
#main-content .border-none img {border:0px !important;}
#main-content .border-bottom img {border-bottom:1px solid #d3d3d3;}
#main-content .border-simple-nowidth img, #main-content .border-simple img {background-color: #e2e2e2; padding:6px; margin-bottom:10px;}
#main-content .border-simple img {width: 97%; 
/* Firefox */
width: -moz-calc(100% - 12px);
/* WebKit */
width: -webkit-calc(100% - 12px);
/* Opera */
width: -o-calc(100% - 12px);
/* Standard */
width: calc(100% - 12px);}
#main-content .border-simple a:hover img {background-color: #bbbbbb;}
#main-content .border-hairline a:hover img {border:1px solid #373737;}

/* ICONS ********************************* */


/* HELPER CLASSES ************************ */

/* ----- Positioning ----------------- */
.spacer {margin-top: 30px;}
.float-left {float:left !important; margin-right:15px; margin-bottom:15px;}
.float-right {float:right !important; margin-left:15px; margin-bottom:15px;}
.float-none {float:none !important;}
.clear-none {clear:none !important;}
.clear-left-margin {margin-left: 0 !important; padding-right:20px;}
.clear-right {clear: right !important;}
.clear-left {clear: left !important;}
.clear-both {clear: both !important;}
.clear-block {} /* Already defined by drupal */

/* ----- Sizing ---------------------- */
.span-full {width:100%;}


/* GENERAL OVERRIDES ********************* */

/* ----- Bootstrap Overrides --------- */
@media (min-width: 980px) {
#sidebar-second .sidebar-content[class*="span"] {float: none; width: 100%;}
#sidebar-second .sidebar-content {float: none; width: 100%;}
}

@media (min-width: 768px) {
#sidebar-first .sidebar-content[class*="span"] {float: none; width: 100%;}
#sidebar-first .sidebar-content {float: none; width: 100%;}
}

@media (min-width: 768px) and (max-width: 979px) {
#sidebar-second .sidebar-content[class*="span"] {width: 31.4917%;}
}

.row-fluid [class*="span"] {min-height: 0;}
[class*="span"].clear-row {clear: both; margin-left: 0px;}
.form-actions {background-color: transparent; border-top: none; margin-bottom: 0; margin-top: 0; padding: 0;}
.navbar-inner {min-height: 0px;}
.dropdown-menu .active > a, .dropdown-menu .active > a:hover {color: #FFF;}
form input {max-width: 90%;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {margin-bottom:0;}

/* ----- Field Collection Overrides -- */
.field-collection-container {margin-bottom:0; border-bottom:0;}
.field-collection-view {margin:0; padding:0;}
.field-collection-container .field-items .field-item {margin:0;}

/* ----- Field Label Overrides ------- */
.page-node #content-body .field {margin-bottom:20px;}


/* STANFORD FEATURES OVERRIDES *********** */

/* ----- Views Slideshow ------------- */
.views_slideshow_cycle_main {width: 100%; float: left; position: relative; z-index:-50;}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {width: 100% !important; height: auto;}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {width: 100% !important; height: auto;}
.views_slideshow_cycle_main .field-content {max-width: 100%; width: 100%;}
.views_slideshow_cycle_main .field-content img {max-width: 100%; width: 100%; height: auto; margin: 0; padding: 0;}

/* ----- Banner Image Slideshow ------ */

/* ----- Stanford Events Importer ---- */

/* ----- Stanford Events Views ------- */

/* ----- Stanford Courses ------------ */


/* ADMINISTRATION ************************ */

/* ----- Admin ----------------------- */

/* ----- User Block ------------------ */


/* MEDIA QUERIES ************************* */

/* ----- Responsive ------------------ */
@media (min-width: 768px) {
.navbar-inner {padding: 0 20px;}
}

/* Landscape phones and down */
@media (max-width: 480px) {
#content-col2 [class*="span"] {width: 100%; margin-left: 0;}
#header #logo {display:block; text-align:center; margin:0px;}
#site-name, #site-slogan {text-align:center;}
}

/* Landscape phones to Tablet */
@media (min-width: 481px) and (max-width: 767px) {
#main-top .block[class*="span"] {display: block; float: left; width: 49%; margin-right: 0;}
#main-top .block[class*="span"]:nth-child(odd) {margin-right: 2%;}	
#main-top .block[class*="span"].clear-row {margin-right: 2%;}
#main-top .block[class*="span"]:last-child {margin-right: 0;}
#main-top .block.span12.clear-row {width: 100%; margin-right: 0;}
#main-upper .block[class*="span"] {display: block; float: left; width: 49%; margin-right: 0;}
#main-upper .block[class*="span"]:nth-child(odd) {margin-right: 2%;}	
#main-upper .block[class*="span"].clear-row {margin-right: 2%;}
#main-upper .block[class*="span"]:last-child {margin-right: 0;}
#main-upper .block.span12.clear-row {width: 100%; margin-right: 0;}
#main-lower .block[class*="span"] {display: block; float: left; width: 49%; margin-right: 0;}
#main-lower .block[class*="span"]:nth-child(odd) {margin-right: 2%;}	
#main-lower .block[class*="span"].clear-row {margin-right: 2%;}
#main-lower .block[class*="span"]:last-child {margin-right: 0;}
#main-lower .block.span12.clear-row {width: 100%; margin-right: 0;}
#main-bottom .block[class*="span"] {display: block; float: left; width: 49%; margin-right: 0;}
#main-bottom .block[class*="span"]:nth-child(odd) {margin-right: 2%;}	
#main-bottom .block[class*="span"].clear-row {margin-right: 2%;}	
#main-bottom .block[class*="span"]:last-child {margin-right: 0;}
#main-bottom .block.span12.clear-row {width: 100%; margin-right: 0;}

#content-top .block[class*="span"] {display: block; float: left; width: 49%; margin-right: 0;}
#content-top .block[class*="span"]:nth-child(odd) {margin-right: 2%;}
#content-top .block[class*="span"].clear-row {margin-right: 2%;}
#content-top .block[class*="span"]:last-child {margin-right: 0;}
#content-top .block.span12.clear-row {width: 100%; margin-right: 0;}
#content-upper .block[class*="span"] {display: block; float: left; width: 49%; margin-right: 0;}
#content-upper .block[class*="span"]:nth-child(odd) {margin-right: 2%;}
#content-upper .block[class*="span"].clear-row {margin-right: 2%;}
#content-upper .block[class*="span"]:last-child {margin-right: 0;}
#content-upper .block.span12.clear-row {width: 100%; margin-right: 0;}
#content-lower .block[class*="span"] {display: block; float: left; width: 49%; margin-right: 0;}
#content-lower .block[class*="span"]:nth-child(odd) {margin-right: 2%;}
#content-lower .block[class*="span"].clear-row {margin-right: 2%;}
#content-lower .block[class*="span"]:last-child {margin-right: 0;}
#content-lower .block.span12.clear-row {width: 100%; margin-right: 0;}
#content-bottom .block[class*="span"] {display: block; float: left; width: 49%; margin-right: 0;}
#content-bottom .block[class*="span"]:nth-child(odd) {margin-right: 2%;}
#content-bottom .block[class*="span"].clear-row {margin-right: 2%;}
#content-bottom .block[class*="span"]:last-child {margin-right: 0;}
#content-bottom .block.span12.clear-row {width: 100%; margin-right: 0;}

#content-row2 .span6 {display: block; float: left; width: 49%; margin-right: 2%;}
#content-row2 [class*="span"]:nth-child(2n) {margin-right: 0;}
#content-row2 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
#content-col2.row-fluid .span6 {display: block; float: left; width: 49%; margin-right: 2%;}
#content-col2.row-fluid [class*="span"]:nth-child(2n) {margin-right: 0;}
#content-col2.row-fluid [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}

#content-row3 .span4 {display: block; float: left; width: 32%; margin-right: 2%;}
#content-row3 [class*="span"]:nth-child(3n) {margin-right: 0;}
#content-row3 [class*="span"]:nth-child(3n+1) {clear: both; margin-left: 0;}
#content-col3.row-fluid .span4 {display: block; float: left; width: 32%; margin-right: 2%;}
#content-col3.row-fluid [class*="span"]:nth-child(3n) {margin-right: 0;}
#content-col3.row-fluid [class*="span"]:nth-child(3n+1) {clear: both; margin-left: 0;}

#content-row4 .span3 {display: block; float: left; width: 49%; margin-right: 2%;}
#content-row4 [class*="span"]:nth-child(2n) {margin-right: 0;}
#content-row4 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
#content-col4.row-fluid .span3 {display: block; float: left; width: 49%; margin-right: 2%;}
#content-col4.row-fluid [class*="span"]:nth-child(2n) {margin-right: 0;}
#content-col4.row-fluid [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}

#sidebar-first .row-fluid .block {display: block; float: left; width: 49%; margin-right: 2%;}
#sidebar-first .row-fluid .block:nth-child(2n) {margin-right: 0;}
#sidebar-first .row-fluid .block:nth-child(2n+1) {clear: both; margin-left: 0;}
#sidebar-second .row-fluid .block {display: block; float: left; width: 49%; margin-right: 2%;}
#sidebar-second .row-fluid .block:nth-child(2n) {margin-right: 0;}
#sidebar-second .row-fluid .block:nth-child(2n+1) {clear: both; margin-left: 0;}

#footer-content .block {float: left; margin-right: 4%; width: 48%;}
#footer-content .block:nth-child(2n+1) {clear: both;}
#footer-content .block:nth-child(2n) {margin-right: 0px;}
}
     
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
#nav-search {margin: 0; float: right; padding: 3px 0px;}
#header-search {position: absolute; right: 30px; margin: -15px 0 0 0; width: auto;}
.btn.btn-navbar {float: left; margin-bottom: 8px;}
.navbar-inner {padding: 5px 5px 0px 5px;}
#content-col2 [class*="span"] {width: 100%; margin-left: 0;}
.callout, .bracket, .topline {width: 50%}
}
     
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
#content-row2 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
#content-row3 [class*="span"]:nth-child(3n+1) {clear: both; margin-left: 0;}
#content-row4 [class*="span"]:nth-child(4n+1) {clear: both; margin-left: 0;}
.btn.btn-navbar {float: left; margin-bottom: 8px;}
.navbar-inner {padding: 0px 5px;}
#nav-search {margin-right: 0px;}
.content .callout, .content .bracket, .content .topline {width: 40%}
}

/* desktop and large desktop */
@media (min-width: 980px) and (max-width: 1199px) {
#content-row2 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
#content-row3 [class*="span"]:nth-child(3n+1) {clear: both; margin-left: 0;}
#content-row4 [class*="span"]:nth-child(4n+1) {clear: both; margin-left: 0;}
.two-sidebars .content .callout, .two-sidebars  .content .bracket, .two-sidebars  .content .topline {width: 40%}
}
     
/* Large desktop */
@media (min-width: 1200px) {
#content-row2 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
#content-row3 [class*="span"]:nth-child(3n+1) {clear: both; margin-left: 0;}
#content-row4 [class*="span"]:nth-child(4n+1) {clear: both; margin-left: 0;}
}

/* ----- Print ----------------------- */