/*
 * Overwrites for bootstrap print styles
 * Designed and built with all the love for trees.
 */
@media print {
  /* line 7, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  .container {
    width: 1170px;
  }

  /* line 10, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  .column {
    height: auto !important;
  }

  /* line 13, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  a[href]:after {
    content: none;
  }

  /* line 16, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 21, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: none;
  }

  /* line 25, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 29, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 33, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 36, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 44, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 49, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 59, C:/Users/hyperboy/Sites/devdesktop/d7-styleguide/sites/all/themes/open_framework/sass/includes/_print.scss */
  .logged-in #toolbar,
  .logged-in .tabs,
  .book_add_child,
  .book_printer,
  .comment-add,
  #search-block-form,
  .site-main-menu,
  .comment-form {
    display: none;
  }
}
