/* Theme Option: Front Page Title */
body.front .title {display: none;}
body.front.show-title .title {display: block;}

/* Theme Option: Breadcrumb */
#breadcrumb {display: none;}
body.show-breadcrumb #breadcrumb {display: block;}

/* Theme Option: Body Background Type */
body.photobg {background-attachment: fixed !important; background-size: cover !important;}

/* Theme Option: Background Color */
body.bodybg .sidebar .region {background-color: rgba(255,255,255,0.9); padding: 10px;}
body.bodybg #secondary-menu .container {background-color: rgba(255,255,255,0.9); padding: 0 10px 10px 10px;}
body.bodybg #content-wrapper {background: #fff; padding: 10px;}

/* Theme Option: Borders */
body.borders .sidebar .region {border: 1px solid #d4d4d4; padding: 10px;}
body.borders #secondary-menu .container {border: 1px solid #d4d4d4; padding: 10px;}
body.borders #content-wrapper {border: 1px solid #d4d4d4; padding: 10px;}

/* Theme Option: Rounded Corners */
body.roundedcorners .sidebar .region {-moz-border-radius: 5px; border-radius: 5px; padding: 10px;}
body.roundedcorners #secondary-menu .container {-moz-border-radius: 5px; border-radius: 5px; padding: 10px;}
body.roundedcorners #content-wrapper {-moz-border-radius: 5px; border-radius: 5px; padding: 10px;}

/* Header */
#header {margin: 15px 0 20px 0px;}

/* Logo */
#header #logo {float: left; max-width: 20%; margin: 0 15px 0 0;}

/* Site Name */
#site-name, #site-slogan {font-family: inherit; line-height: 1; color: inherit; text-rendering: optimizelegibility;}
#site-name {font-size: 44px; font-weight:bold;}
#site-slogan {font-size: 24px; line-height: 1.5em;}
#site-name a {text-decoration:none;}
#site-name a:hover {text-decoration:none;}
#name-and-slogan {max-width: 75%; height:97px; display:table-cell; vertical-align:middle;}

/* Header Search Block */
#header-search {padding-top: 30px;}

/* Main Menu */
#main-menu ul.nav li.dropdown:hover ul.dropdown-menu{display: block;}
#main-menu .dropdown-menu {margin: 0;}
#main-menu ul {margin:-1px 0 0 0;}
#main-menu ul li.leaf {list-style-image: none; height: 35px;}
#main-menu ul li.expanded {list-style-image: none;}
#main-menu ul li.collapsed {list-style-image: none;}

/* Sidebars */
#sidebar-first {margin-bottom: 20px;}
#sidebar-second {margin-bottom: 20px;}
.sidebar ul.nav {margin-left: 20px;}

/* Main Content */
#main {margin-bottom: 20px;}

/* Content Head */
#content-head {margin-bottom:15px;}

/* Footer */
#footer {margin-top: 50px;}
#footer h2 {font-size:20px; line-height:1.5em;}

/* Block and Container Styles */
#main .block {margin-bottom:30px;}
#main #block-system-main {margin-bottom:0;}
.sub-block {}
.well {}
.footer-well {}

/* Callout Styles */
.callout {}
.bracket {}
.topline {}

/* Positioning Styles */
.float-left {float:left; margin-right:15px; margin-bottom:10px;}
.float-right {float:right; margin-right:15px; margin-bottom:10px;}
.float-none {float:none;}

/* Sizing Styles */
.span-full {width:100%;}

/* Field Collection Overrides */
.field-collection-container {margin-bottom:0; border-bottom:0;}
.field-collection-view {margin:0; padding:0;}

/* Views Slideshow */
.views_slideshow_cycle_main {width: 100%; float: left; position: relative;}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {width: 100% !important; height: auto;}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {width: 100% !important; height: auto;}
.views_slideshow_cycle_main .field-content {max-width: 100%; width: 100%;}
.views_slideshow_cycle_main .field-content img {max-width: 100%; width: 100%; height: auto; margin: 0; padding: 0;}

/* Bootstrap Override */
.row-fluid [class*="span"] {min-height: 0;}
[class*="span"].clear-row {clear: both; margin-left: 0px;}
.form-actions {background-color: transparent; border-top: none; margin-bottom: 0; margin-top: 0; padding: 0;}
.navbar-inner {min-height: 0px;}

/* Landscape phones and down */
@media (max-width: 480px) {
#content-col2 [class*="span"] {width: 100%; margin-left: 0;}
}
     
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
#header-search {position: absolute; right: 30px; margin: -5px 0 0 0; width: auto;}
.btn.btn-navbar {float: left; margin-left: -10px;}
#content-col2 [class*="span"] {width: 100%; margin-left: 0;}
}
     
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
#content-col2 [class*="span"] {width: 100%; margin-left: 0;}
#content-col3 [class*="span"] {width: 100%; margin-left: 0;}
#content-col4 [class*="span"] {width: 100%; margin-left: 0;}
#content-row2 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
#content-row3 [class*="span"] {width: 48.6188%;}
#content-row3 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
#content-row4 [class*="span"] {width: 48.6188%;}
#content-row4 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
.btn.btn-navbar {float: left; margin-left: -10px;}
}

/* desktop and large desktop */
@media (min-width: 980px) and (max-width: 1199px) {
#content-col4 [class*="span"] {width: 48.9362%;}
#content-col4 [class*="span"].col4-3 {margin-left: 0;}
#content-row2 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
#content-row3 [class*="span"]:nth-child(3n+1) {clear: both; margin-left: 0;}
#content-row4 [class*="span"]:nth-child(4n+1) {clear: both; margin-left: 0;}
.one-sidebar #content-row3 [class*="span"] {width: 48.9362%;}
.one-sidebar #content-row3 [class*="span"]:nth-child(3n+1) {margin-left: 2.12766%;}
.one-sidebar #content-row3 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
.one-sidebar #content-row4 [class*="span"] {width: 48.9362%;}
.one-sidebar #content-row4 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
.two-sidebars #content-row4 [class*="span"] {width: 48.9362%;}
.two-sidebars #content-row4 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
}
     
/* Large desktop */
@media (min-width: 1200px) {
#content-row2 [class*="span"]:nth-child(2n+1) {clear: both; margin-left: 0;}
#content-row3 [class*="span"]:nth-child(3n+1) {clear: both; margin-left: 0;}
#content-row4 [class*="span"]:nth-child(4n+1) {clear: both; margin-left: 0;}
}
