/*
 * Overwrites for bootstrap print styles
 * Designed and built with all the love for trees.
 */
@media print {
  @page {
    size: letter;
}

  /* line 10, ../sass/includes/_print.scss */
  .container {
    width: 1170px;
  }

  /* line 13, ../sass/includes/_print.scss */
  .column {
    height: auto !important;
  }

  /* line 16, ../sass/includes/_print.scss */
  a[href]:after {
    content: none;
  }

  /* line 19, ../sass/includes/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 24, ../sass/includes/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: none;
  }

  /* line 28, ../sass/includes/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 32, ../sass/includes/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 36, ../sass/includes/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 39, ../sass/includes/_print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 44, ../sass/includes/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 49, ../sass/includes/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 59, ../sass/includes/_print.scss */
  .logged-in #toolbar,
  .logged-in .tabs,
  .book_add_child,
  .book_printer,
  .comment-add,
  #search-block-form,
  .site-main-menu,
  .comment-form {
    display: none;
  }
}
