/* Expanded Nav
#main-menu ul li {float: left; list-style-type: none;}
#main-menu ul a {display: block; border: 0px; outline: none;}
#main-menu ul li {position: relative;}
#main-menu ul li ul li {float: none; list-style-type: none;}
#main-menu ul li ul {display: none; float: none;}
#main-menu ul li:hover ul {display: block; position: absolute; z-index: 9999; margin: 0px; padding: 5px 0px; background: #fff; white-space: nowrap;} */

#main-menu ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

#main-menu .dropdown-menu {
    margin: 0;
}


#main-menu ul li.leaf {list-style-image: none;}
#main-menu ul li.expanded {list-style-image: none;}
#main-menu ul li.collapsed {list-style-image: none;}

.sidebar ul.nav {margin-left: 20px;}


.footer {padding: 70px 0; margin-top: 70px; border-top: 1px solid #e5e5e5; background-color: #f5f5f5;}
.footer p {margin-bottom: 0; color: #777;}
.footer-links {margin: 10px 0;}
.footer-links li {display: inline; margin-right: 10px;}

/* Bootstrap Override */
[class*="span"].block.clear-row {clear: both; margin-left: 0px;}

/* Landscape phones and down */
@media (max-width: 480px) {
.col2 > [class*="span"] {width: 100%; margin-left: 0;}
}
     
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.col2 > [class*="span"] {width: 100%; margin-left: 0;}
}
     
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.col2 > [class*="span"] {width: 100%; margin-left: 0;}
.col3 > [class*="span"] {width: 100%; margin-left: 0;}
.col4 > [class*="span"] {width: 100%; margin-left: 0;}
.row2 > [class*="span"]:nth-child(2n+1) {margin-left: 0;}
.row3 > [class*="span"] {width: 48.6188%;}
.row3 > [class*="span"]:nth-child(2n+1) {margin-left: 0;}
.row4 > [class*="span"] {width: 48.6188%;}
.row4 > [class*="span"]:nth-child(2n+1) {margin-left: 0;}
}

/* desktop and large desktop */
@media (min-width: 980px) and (max-width: 1199px) {
.col4 > [class*="span"] {width: 48.9362%;}
.col4 > [class*="span"].col4-3 {margin-left: 0;}
.row2 > [class*="span"]:nth-child(2n+1) {margin-left: 0;}
.row3 > [class*="span"]:nth-child(3n+1) {margin-left: 0;}
.row4 > [class*="span"]:nth-child(4n+1) {margin-left: 0;}
.one-sidebar .row3 > [class*="span"] {width: 48.9362%;}
.one-sidebar .row3 > [class*="span"]:nth-child(3n+1) {margin-left: 2.12766%;}
.one-sidebar .row3 > [class*="span"]:nth-child(2n+1) {margin-left: 0;}
.one-sidebar .row4 > [class*="span"] {width: 48.9362%;}
.one-sidebar .row4 > [class*="span"]:nth-child(2n+1) {margin-left: 0;}
.two-sidebars .row4 > [class*="span"] {width: 48.9362%;}
.two-sidebars .row4 > [class*="span"]:nth-child(2n+1) {margin-left: 0;}
}
     
/* Large desktop */
@media (min-width: 1200px) {
.row2 > [class*="span"]:nth-child(2n+1) {margin-left: 0;}
.row3 > [class*="span"]:nth-child(3n+1) {margin-left: 0;}
.row4 > [class*="span"]:nth-child(4n+1) {margin-left: 0;}
}
