/* ----- Responsive Views Grids ------ */

.views-grid-four .views-row {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 1.7%;
  margin-bottom: 20px;
  width: 23.3%;
  vertical-align: top;
}

.views-grid-four.views-grid-header-footer .view-header,
.views-grid-four.views-grid-header-footer .view-content,
.views-grid-four.views-grid-header-footer .view-footer {
  display: inline-block;
  vertical-align: top;
}

.views-grid-four.views-grid-header-footer .view-header {
  width: 23%;
  margin-right: 1%;
}

.views-grid-four .grouping .views-row:nth-of-type(4n) {
  margin-right: 0;
}

.views-grid-four.views-grid-header-footer .view-content {
  width: 60%;
  margin-right: 1%;
}

.views-grid-four.views-grid-header-footer .view-footer {
  width: 13%;
}

.views-grid-five .views-row {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 17.6%;
  margin-right: 2.4%;
}

.views-grid-five .grouping .views-row:nth-of-type(5n) {
  margin-right: 0;
}

.views-grid-six .views-row {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 14.2%;
  margin-right: 2.4%;
}

.views-grid-six .grouping .views-row:nth-of-type(6n) {
  margin-right: 0;
}

.views-grid-seven .views-row {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 11.9%;
  margin-right: 2.4%;
}

.views-grid-seven .grouping .views-row:nth-of-type(7n) {
  margin-right: 0;
}

@media (max-width: 1199px) {
  .views-grid-four .views-row {
    width: 22.8%;
    margin-right: 2.3%;
  }
  .views-grid-seven .views-row {
    width: 17.6%;
    margin-right: 2.4%;
  }
  .views-grid-seven .grouping .views-row:nth-of-type(5n) {
    margin-right: 0;
  }
}

@media (max-width: 979px) {
  .views-grid-four .views-row {
    width: 48.3%;
  }
  .views-grid-four .views-row-even {
    margin-right: 0px;
  }
  .views-grid-five .views-row {
    width: 31%;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .views-grid-five .grouping .views-row:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .views-grid-five .views-row {
    width: 48%;
  }
  .views-grid-five .views-row-even {
    margin-right: 0px;
  }
  .views-grid-six .views-row {
    width: 22.6%;
  }
  .views-grid-six .views-row-even,
  .views-grid-six .views-row-odd {
    margin-right: 2.4%;
  }
  .views-grid-six .grouping .views-row:nth-of-type(4n) {
    margin-right: 0;
  }
  .views-grid-four.views-grid-header-footer .view-header,
  .views-grid-four.views-grid-header-footer .view-content,
  .views-grid-four.views-grid-header-footer .view-footer {
    display: block;
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 680px) {
  .views-grid-seven .views-row {
    width: 29%;
    margin-right: 2.4%;
  }
  .views-grid-seven .grouping .views-row:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media (max-width: 520px) {
  .views-grid-four .views-row {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .views-grid-six .views-row {
    width: 31.1%;
  }
  .views-grid-six .views-row-even {
    margin-right: 2.4%;
  }
  .views-grid-six .grouping .views-row:nth-of-type(3n) {
    margin-right: 0;
  }
  .views-grid-seven .views-row {
    width: 45%;
    margin-right: 2.4%;
  }
  .views-grid-seven .views-row.views-row-even {
    margin-right: 0;
  }
}

@media (max-width: 380px) {
  .views-grid-six .views-row {
    width: 48%;
  }
  .views-grid-six .views-row-even {
    margin-right: 0;
  }
  .views-grid-six .views-row-odd {
    margin-right: 2.4%;
  }
}

@media (max-width: 350px) {
  .views-grid-five .views-row {
    display: block;
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .views-grid-seven .views-row {
    width: 100%;
    margin-right: 0;
  }
}