/* ----- Responsive Views Grids ------ */

.views-grid-four .views-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 1.7%;
    margin-bottom: 20px;
    width: 23.3%;
    vertical-align: top;
}

.views-grid-four .views-row.views-row-4,
.views-grid-four .views-row.views-row-8,
.views-grid-four .views-row.views-row-12,
.views-grid-four .views-row.views-row-16,
.views-grid-four .views-row.views-row-20,
.views-grid-four .views-row.views-row-24,
.views-grid-four .views-row.views-row-28,
.views-grid-four .views-row.views-row-32,
.views-grid-four .views-row.views-row-36,
.views-grid-four .views-row.views-row-40,
.views-grid-four .views-row.views-row-44,
.views-grid-four .views-row.views-row-48,
.views-grid-four .views-row.views-row-52,
.views-grid-four .views-row.views-row-56,
.views-grid-four .views-row.views-row-60,
.views-grid-four .views-row.views-row-64,
.views-grid-four .views-row.views-row-68,
.views-grid-four .views-row.views-row-72,
.views-grid-four .views-row.views-row-76,
.views-grid-four .views-row.views-row-80,
.views-grid-four .views-row.views-row-84,
.views-grid-four .views-row.views-row-88,
.views-grid-four .views-row.views-row-92,
.views-grid-four .views-row.views-row-96,
.views-grid-four .views-row.views-row-100,
.views-grid-four .views-row.views-row-104,
.views-grid-four .views-row.views-row-108,
.views-grid-four .views-row.views-row-112,
.views-grid-four .views-row.views-row-116,
.views-grid-four .views-row.views-row-120 {
    margin-right: 0px;
}

.views-grid-four.views-grid-header-footer .view-header,
.views-grid-four.views-grid-header-footer .view-content,
.views-grid-four.views-grid-header-footer .view-footer {
    display: inline-block;
    vertical-align: top;
}

.views-grid-four.views-grid-header-footer .view-header {
    width: 23%;
    margin-right: 1%;
}

.views-grid-four.views-grid-header-footer .view-content {
    width: 60%;
    margin-right: 1%;
}

.views-grid-four.views-grid-header-footer .view-footer {
    width: 13%;
}

.views-grid-five .views-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 17.6%;
    margin-right: 2.4%;
}

.views-grid-five .views-row.views-row-5,
.views-grid-five .views-row.views-row-10,
.views-grid-five .views-row.views-row-15,
.views-grid-five .views-row.views-row-20,
.views-grid-five .views-row.views-row-25,
.views-grid-five .views-row.views-row-30,
.views-grid-five .views-row.views-row-35,
.views-grid-five .views-row.views-row-40,
.views-grid-five .views-row.views-row-45,
.views-grid-five .views-row.views-row-50,
.views-grid-five .views-row.views-row-55,
.views-grid-five .views-row.views-row-60,
.views-grid-five .views-row.views-row-65,
.views-grid-five .views-row.views-row-70,
.views-grid-five .views-row.views-row-75,
.views-grid-five .views-row.views-row-80,
.views-grid-five .views-row.views-row-85,
.views-grid-five .views-row.views-row-90,
.views-grid-five .views-row.views-row-95,
.views-grid-five .views-row.views-row-100,
.views-grid-five .views-row.views-row-105,
.views-grid-five .views-row.views-row-110,
.views-grid-five .views-row.views-row-115,
.views-grid-five .views-row.views-row-120 {
    margin-right: 0px;
}

.views-grid-six .views-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 14.2%;
    margin-right: 2.4%;
}

.views-grid-six .views-row.views-row-6,
.views-grid-six .views-row.views-row-12,
.views-grid-six .views-row.views-row-18,
.views-grid-six .views-row.views-row-24,
.views-grid-six .views-row.views-row-30,
.views-grid-six .views-row.views-row-36,
.views-grid-six .views-row.views-row-42,
.views-grid-six .views-row.views-row-48,
.views-grid-six .views-row.views-row-54,
.views-grid-six .views-row.views-row-60,
.views-grid-six .views-row.views-row-66,
.views-grid-six .views-row.views-row-72,
.views-grid-six .views-row.views-row-78,
.views-grid-six .views-row.views-row-84,
.views-grid-six .views-row.views-row-90,
.views-grid-six .views-row.views-row-96,
.views-grid-six .views-row.views-row-102,
.views-grid-six .views-row.views-row-108,
.views-grid-six .views-row.views-row-114,
.views-grid-six .views-row.views-row-120 {
    margin-right: 0px;
}

.views-grid-seven .views-row {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 11.9%;
    margin-right: 2.4%;
}

.views-grid-seven .views-row.views-row-7,
.views-grid-seven .views-row.views-row-14,
.views-grid-seven .views-row.views-row-21,
.views-grid-seven .views-row.views-row-28,
.views-grid-seven .views-row.views-row-35,
.views-grid-seven .views-row.views-row-42,
.views-grid-seven .views-row.views-row-49,
.views-grid-seven .views-row.views-row-56,
.views-grid-seven .views-row.views-row-63,
.views-grid-seven .views-row.views-row-70,
.views-grid-seven .views-row.views-row-77,
.views-grid-seven .views-row.views-row-84,
.views-grid-seven .views-row.views-row-91,
.views-grid-seven .views-row.views-row-98,
.views-grid-seven .views-row.views-row-105,
.views-grid-seven .views-row.views-row-112,
.views-grid-seven .views-row.views-row-119,
.views-grid-seven .views-row.views-row-126 {
    margin-right: 0px;
}

@media (max-width: 1199px) {
    .views-grid-four .views-row {
        width: 22.8%;
        margin-right: 2.3%;
    }
    .views-grid-seven .views-row {
        width: 17.6%;
        margin-right: 2.4%;
    }
    .views-grid-five .views-row.views-row-5,
    .views-grid-five .views-row.views-row-10,
    .views-grid-five .views-row.views-row-15,
    .views-grid-five .views-row.views-row-20,
    .views-grid-five .views-row.views-row-25,
    .views-grid-five .views-row.views-row-30,
    .views-grid-five .views-row.views-row-35,
    .views-grid-five .views-row.views-row-40,
    .views-grid-five .views-row.views-row-45,
    .views-grid-five .views-row.views-row-50,
    .views-grid-five .views-row.views-row-55,
    .views-grid-five .views-row.views-row-60,
    .views-grid-five .views-row.views-row-65,
    .views-grid-five .views-row.views-row-70,
    .views-grid-five .views-row.views-row-75,
    .views-grid-five .views-row.views-row-80,
    .views-grid-five .views-row.views-row-85,
    .views-grid-five .views-row.views-row-90,
    .views-grid-five .views-row.views-row-95,
    .views-grid-five .views-row.views-row-100,
    .views-grid-five .views-row.views-row-105,
    .views-grid-five .views-row.views-row-110,
    .views-grid-five .views-row.views-row-115,
    .views-grid-five .views-row.views-row-120 {
        margin-right: 0px;
    }
}

@media (max-width: 979px) {
    .views-grid-four .views-row {
        width: 48.3%;
    }
    .views-grid-four .views-row-even {
        margin-right: 0px;
    }
    .views-grid-five .views-row {
        width: 31%;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .views-grid-five .views-row.views-row-3,
    .views-grid-five .views-row.views-row-6,
    .views-grid-five .views-row.views-row-9,
    .views-grid-five .views-row.views-row-12,
    .views-grid-five .views-row.views-row-15,
    .views-grid-five .views-row.views-row-18,
    .views-grid-five .views-row.views-row-21,
    .views-grid-five .views-row.views-row-24,
    .views-grid-five .views-row.views-row-27,
    .views-grid-five .views-row.views-row-30,
    .views-grid-five .views-row.views-row-33,
    .views-grid-five .views-row.views-row-36,
    .views-grid-five .views-row.views-row-39,
    .views-grid-five .views-row.views-row-42,
    .views-grid-five .views-row.views-row-45,
    .views-grid-five .views-row.views-row-48,
    .views-grid-five .views-row.views-row-51,
    .views-grid-five .views-row.views-row-54,
    .views-grid-five .views-row.views-row-57,
    .views-grid-five .views-row.views-row-60,
    .views-grid-five .views-row.views-row-63,
    .views-grid-five .views-row.views-row-66,
    .views-grid-five .views-row.views-row-69,
    .views-grid-five .views-row.views-row-72,
    .views-grid-five .views-row.views-row-75,
    .views-grid-five .views-row.views-row-78,
    .views-grid-five .views-row.views-row-81,
    .views-grid-five .views-row.views-row-84,
    .views-grid-five .views-row.views-row-87,
    .views-grid-five .views-row.views-row-90,
    .views-grid-five .views-row.views-row-93,
    .views-grid-five .views-row.views-row-96,
    .views-grid-five .views-row.views-row-99,
    .views-grid-five .views-row.views-row-102,
    .views-grid-five .views-row.views-row-105,
    .views-grid-five .views-row.views-row-108,
    .views-grid-five .views-row.views-row-111,
    .views-grid-five .views-row.views-row-114,
    .views-grid-five .views-row.views-row-117,
    .views-grid-five .views-row.views-row-120 {
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    .views-grid-five .views-row {
        width: 48%;
    }
    .views-grid-five .views-row-even {
        margin-right: 0px;
    }
    .views-grid-six .views-row {
        width: 22.6%;
    }
    .views-grid-six .views-row-even,
    .views-grid-six .views-row-odd {
        margin-right: 2.4%;
    }
    .views-grid-six .views-row.views-row-4,
    .views-grid-six .views-row.views-row-8,
    .views-grid-six .views-row.views-row-12,
    .views-grid-six .views-row.views-row-16,
    .views-grid-six .views-row.views-row-20,
    .views-grid-six .views-row.views-row-24,
    .views-grid-six .views-row.views-row-28,
    .views-grid-six .views-row.views-row-32,
    .views-grid-six .views-row.views-row-36,
    .views-grid-six .views-row.views-row-40,
    .views-grid-six .views-row.views-row-44,
    .views-grid-six .views-row.views-row-48,
    .views-grid-six .views-row.views-row-52,
    .views-grid-six .views-row.views-row-56,
    .views-grid-six .views-row.views-row-60,
    .views-grid-six .views-row.views-row-64,
    .views-grid-six .views-row.views-row-68,
    .views-grid-six .views-row.views-row-72,
    .views-grid-six .views-row.views-row-76,
    .views-grid-six .views-row.views-row-80,
    .views-grid-six .views-row.views-row-84,
    .views-grid-six .views-row.views-row-88,
    .views-grid-six .views-row.views-row-92,
    .views-grid-six .views-row.views-row-96,
    .views-grid-six .views-row.views-row-100,
    .views-grid-six .views-row.views-row-104,
    .views-grid-six .views-row.views-row-108,
    .views-grid-six .views-row.views-row-112,
    .views-grid-six .views-row.views-row-116,
    .views-grid-six .views-row.views-row-120 {
        margin-right: 0px;
    }
    .views-grid-four.views-grid-header-footer .view-header,
    .views-grid-four.views-grid-header-footer .view-content,
    .views-grid-four.views-grid-header-footer .view-footer {
        display: block;
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 680px) {
    .views-grid-seven .views-row {
        width: 29%;
        margin-right: 2.4%;
    }
    .views-grid-seven .views-row.views-row-3,
    .views-grid-seven .views-row.views-row-6,
    .views-grid-seven .views-row.views-row-9,
    .views-grid-seven .views-row.views-row-12,
    .views-grid-seven .views-row.views-row-15,
    .views-grid-seven .views-row.views-row-18,
    .views-grid-seven .views-row.views-row-21,
    .views-grid-seven .views-row.views-row-24,
    .views-grid-seven .views-row.views-row-27,
    .views-grid-seven .views-row.views-row-30,
    .views-grid-seven .views-row.views-row-33,
    .views-grid-seven .views-row.views-row-36,
    .views-grid-seven .views-row.views-row-39,
    .views-grid-seven .views-row.views-row-42,
    .views-grid-seven .views-row.views-row-45,
    .views-grid-seven .views-row.views-row-48,
    .views-grid-seven .views-row.views-row-51,
    .views-grid-seven .views-row.views-row-54,
    .views-grid-seven .views-row.views-row-57,
    .views-grid-seven .views-row.views-row-60,
    .views-grid-seven .views-row.views-row-63,
    .views-grid-seven .views-row.views-row-66,
    .views-grid-seven .views-row.views-row-69,
    .views-grid-seven .views-row.views-row-72,
    .views-grid-seven .views-row.views-row-75,
    .views-grid-seven .views-row.views-row-78,
    .views-grid-seven .views-row.views-row-81,
    .views-grid-seven .views-row.views-row-84,
    .views-grid-seven .views-row.views-row-87,
    .views-grid-seven .views-row.views-row-90,
    .views-grid-seven .views-row.views-row-93,
    .views-grid-seven .views-row.views-row-96,
    .views-grid-seven .views-row.views-row-99,
    .views-grid-seven .views-row.views-row-102,
    .views-grid-seven .views-row.views-row-105,
    .views-grid-seven .views-row.views-row-108,
    .views-grid-seven .views-row.views-row-111,
    .views-grid-seven .views-row.views-row-114,
    .views-grid-seven .views-row.views-row-117,
    .views-grid-seven .views-row.views-row-120 {
        margin-right: 0;
    }
}

@media (max-width: 520px) {
    .views-grid-four .views-row {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .views-grid-six .views-row {
        width: 31.1%;
    }
    .views-grid-six .views-row-even {
        margin-right: 2.4%;
    }
    .views-grid-six .views-row.views-row-3,
    .views-grid-six .views-row.views-row-6,
    .views-grid-six .views-row.views-row-9,
    .views-grid-six .views-row.views-row-12,
    .views-grid-six .views-row.views-row-15,
    .views-grid-six .views-row.views-row-18,
    .views-grid-six .views-row.views-row-21,
    .views-grid-six .views-row.views-row-24,
    .views-grid-six .views-row.views-row-27,
    .views-grid-six .views-row.views-row-30,
    .views-grid-six .views-row.views-row-33,
    .views-grid-six .views-row.views-row-36,
    .views-grid-six .views-row.views-row-39,
    .views-grid-six .views-row.views-row-42,
    .views-grid-six .views-row.views-row-45,
    .views-grid-six .views-row.views-row-48,
    .views-grid-six .views-row.views-row-51,
    .views-grid-six .views-row.views-row-54,
    .views-grid-six .views-row.views-row-57,
    .views-grid-six .views-row.views-row-60,
    .views-grid-six .views-row.views-row-63,
    .views-grid-six .views-row.views-row-66,
    .views-grid-six .views-row.views-row-69,
    .views-grid-six .views-row.views-row-72,
    .views-grid-six .views-row.views-row-75,
    .views-grid-six .views-row.views-row-78,
    .views-grid-six .views-row.views-row-81,
    .views-grid-six .views-row.views-row-84,
    .views-grid-six .views-row.views-row-87,
    .views-grid-six .views-row.views-row-90,
    .views-grid-six .views-row.views-row-93,
    .views-grid-six .views-row.views-row-96,
    .views-grid-six .views-row.views-row-99,
    .views-grid-six .views-row.views-row-102,
    .views-grid-six .views-row.views-row-105,
    .views-grid-six .views-row.views-row-108,
    .views-grid-six .views-row.views-row-111,
    .views-grid-six .views-row.views-row-114,
    .views-grid-six .views-row.views-row-117,
    .views-grid-six .views-row.views-row-120 {
        margin-right: 0px;
    }
    .views-grid-seven .views-row {
        width: 45%;
        margin-right: 2.4%;
    }
    .views-grid-seven .views-row.views-row-even {
        margin-right: 0;
    }
}

@media (max-width: 380px) {
    .views-grid-six .views-row {
        width: 48%;
    }
    .views-grid-six .views-row-even {
        margin-right: 0;
    }
    .views-grid-six .views-row-odd {
        margin-right: 2.4%;
    }
}

@media (max-width: 350px) {
    .views-grid-five .views-row {
        display: block;
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 320px) {
    .views-grid-seven .views-row {
        width: 100%;
        margin-right: 0;
    }
}
